body {
}

p {
}

.content{
    padding-left: 30px;
}

header{
    background: lightblue;
}

.topnav {
    padding-bottom: 10px;
}

.banner {
    background: blue;
    padding-left: 70px;
}

.logo {
    font-size: 3em;
    color: white;
}

.login {
    color: white;
}
