body {
    color: black;
    padding-left: 30px
}

p {
}

.content{
    /*padding-left: 30px;*/
}

header{
    background: lightblue;
}

.topnav {
    padding-bottom: 15px;
}

.banner {
    background: blue;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    background: blue;
    font-size: 3em;
    color: white;
    padding-left: 15px;
}

.login {
    color: white;
}
.login-form {
}
.input-error {
    color: red;
}
