<!DOCTYPE html>
{% extends "template.html" %}
{% block content %}
    <h1> Welcome to the Forum, {{ current_user.Username}}! </h1>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.post. label }}<br>
        {{ form.post(cols=32, rows=4 ) }}<br>
        {% for error in form.post.errors %}
          <span class="input_error">[{{ error }}]</span>
        {% endfor %}
      </p>
    </form>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}
