<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> Plants</title>
        <style> 
            .logo{
                background-color: blue;
                color: white;
            }
            body {
            }

            .watering{
            }
                 
            input{
             background-color: lightgreen;
            }
        </style>
    </head>
    <body>
        {% extends "template.html" %}
        {% block app_content %}
        <div class="watering">
            <h2>Plant system</h2>
            <form method="post">
                <input type="submit" value="Water the Plants">
                <p> Progress bar...</p>
            </form>
            <p>Times Watered: {{Button}}</p>
        </div>
        {% endblock%}
    </body>
</html>

