{% extends "template.html" %}

{% block app_content %}
<h1>Plant system</h1>
<div class="row">

  <div class="col-md-8" style="margin:auto">
    <div class="media">
      <img class="mr-3" src="{{ user.avatar(512) }}" alt="No feed">
      <div class="media-body">
        Camera feed
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <a class='btn btn-primary' href='{{ url_for('main.water_plants') }}' role='button'>Water the plants</a>
    <p>Last time watered: 
      {% if log_entries %}
      {{ moment(log_entries[0].timestamp).calendar() }}
      {% endif %}
    </p>

    <h3>Watering Log</h3>
    {% for item in log_entries %}
      <p>{{ moment(item.timestamp).format('lll') }} {{ item.user.username }}</p>
    {% endfor %}

    <nav aria-label="...">
      <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
          <a href="{{ prev_url or '#'}}">
            <span aria-hidden="true">&larr;</span> Newer posts
          </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
          <a href="{{ next_url or '#'}}">
            Older posts <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>
{% endblock%}
