{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/template.css') }}">
{% endblock %}

{% block navbar %}
  <div class="container">
      <div class="banner" style="color: white;">
          {% if current_user.is_anonymous %}
          <a class="login" href="{{ url_for('auth.login') }}">[Login]</a>
          {% else %}
          <a class="login" href="{{ url_for('auth.logout') }}">[Logout]</a>
          {% endif %}
          <a class="logo"><b>SnowBlunt</b></a>
          {% if g.search_form %}
            <form class="navbar-form navbar-right" method="get"
                action="{{ url_for('main.search') }}">
              <div class="form-group">
                {{ g.search_form.q(size=20, class='form-control',
                    placeholder=g.search_form.q.label.text) }}
              </div>
            </form>
          {% endif %}
      </div>
      <strong><nav>
              <ul class="topnav">
                  <a href="{{ url_for('main.home') }}">Home</a>
                  <a href="{{ url_for('main.about') }}">About</a>
                  <a href="{{ url_for('main.forum') }}">Forum</a>
                  <a href="{{ url_for('main.explore') }}">Explore</a>
                  {% if current_user.is_authenticated %}
                  <a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
                  <a href="{{ url_for('main.plants') }}">Plants</a>
                  {% endif %}
              </ul>
          </nav></strong>
  </div>
  <div class="container">
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>
{% endblock %}

{% block content %}
  {% block app_content %}
  {% endblock %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}
  {{ moment.lang(g.locale) }}
<script>
    function translate(sourceElem, destElem, sourceLang, destLang) {
        $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
        $.post('/translate', {
            "text": $(sourceElem).text(),
            "source_language": sourceLang,
            "dest_language": destLang
        }).done(function(response) {
            $(destElem).text(response['text']);
        }).fail(function() {
            $(destElem).text("{{ _('Error: Could not contact server.') }}");
        });
    }
</script>
{% endblock %}
