{% extends 'bootstrap/base.html' %}
{% block styles %}
{{ super() }}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/template.css') }}">
{% endblock %}

{% block navbar %}
  <div class="container">
      <div class="banner" style="color: white;">
          {% if current_user.is_anonymous %}
          <a class="login" href="{{ url_for('login') }}">[Login]</a>
          {% else %}
          <a class="login" href="{{ url_for('logout') }}">[Logout]</a>
          {% endif %}
          <a class="logo"><b>SnowBlunt</b></a>
      </div>
      <strong><nav>
              <ul class="topnav">
                  <a href="{{ url_for('home') }}">Home</a>
                  <a href="{{ url_for('about') }}">About</a>
                  <a href="{{ url_for('forum') }}">Forum</a>
                  <a href="{{ url_for('explore') }}">Explore</a>
                  {% if current_user.is_authenticated %}
                  <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                  <a href="{{ url_for('plants') }}">Plants</a>
                  {% endif %}
              </ul>
          </nav></strong>
  </div>
  <div class="container">
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>
{% endblock %}

{% block content %}
  {% block app_content %}
  {% endblock %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}
{% endblock %}
