{% extends "user_temp.html" %}

{% block user_content %}
    {% if user == current_user %}
    {% if messages %}
      <h2>{{ _('Messages') }}</h2>
      {% for post in messages %}
        {% include '_post.html' %}
      {% endfor %}
      <a href="{{ url_for('main.messages') }}">More messages...</a>
    {% endif %}
    {% endif %}

    {% if posts %}
      <h2>{{ _('Forum Posts') }}</h2>
      {% for post in posts %}
          {% include '_post.html' %}
      {% endfor %}
      <nav aria-label="...">
        <ul class="pager">
          <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#'}}">
              <span aria-hidden="true">&larr;</span> Newer posts
            </a>
          </li>
          <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#'}}">
              Older posts <span aria-hidden="true">&rarr;</span>
            </a>
          </li>
        </ul>
      </nav>
    {% endif %}
{% endblock %}
